{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Get Account Balance</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Get Account Balance</h1>
    <form method="post" action="{% url 'bank_txn:get_account_balance' %}">
        {% csrf_token %}
        <label for="account_number">Account Number:</label>
        <input type="text" name="account_number" id="account_number">
        <button type="submit">Get Balance</button>
    </form>
    {% if account_balance %}
    <p>Account Balance: {{ account_balance }}</p>
    {% endif %}
</body>
</html>
